body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}

.header{
    background-color: #553b39;
    color: #ece9e9;

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    font-size: 30px;
    font-weight: 300;
    text-shadow: 1px 1px 2px #2a1d1c;
}

.links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

a:hover{
    color: #ffb1ab;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
  }

  /*section1*/

.section1{
    display: flex;
    justify-content: center;
    background-color: #d4938e;
    flex: 1;
    gap: 30px;
    padding: 100px 50px;
    margin: 0 auto;
}

.left>h1{
    font-size: 25px;
    color: #2a1d1c: 
}
.left>p{
    font-size: 15px;
    color:#2a1d1c:
}

button{
    background-color: aqua;
    padding: 5px 10px;
    border-radius: 10px;
    
}

.right{
    flex: 1;
}

.right>img{
    width: 300px;
    border-radius: 20px;
}


/* section2*/

.section2{
    text-align: center;
    padding: 20px 100px;
    background-color: #ece9e9;
}

.section2>h2{
    font-size: 40px;
    font-weight: 400;
}

figcaption{
    font-size: 20px;
}

figure>img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.section2-1{
    display: flex; 
    justify-content: space-evenly;
    padding: 30px 0px;
}

.section3{
    padding: 70px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5C3C3;
}

.message{
    font-size: 60px;
    font-style: italic   
}

.name{
    font-size: 30px;
    align-self: flex-end;
    font-weight: bold;
}

/*section 4*/

.section4{
    background-color: #F2E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 200px;
}

.banner{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: #d4938e;
    border-radius: 20px;
    padding: 40px;
}

.left-banner{
    display: flex;
    flex-direction: column;
}

.discount{
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
}

.sign{
    background-color: aquamarine;
    padding: 15px 10px;
    color:#2a1d1c;
}
footer{

    background-color: #553b39;
    color: #ece9e9;
    text-shadow: 1px 1px 2px #2a1d1c;
    font-size: 25px;
    text-align: center;
    padding: 15px;
}